ffmpeg==1.4
ffmpeg-python==0.2.0
future==1.0.0
googleapis-common-protos==1.63.2
grpclib==0.4.7
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
multidict==6.0.5
numpy==2.0.1
opencv-python==4.10.0.84
protobuf==5.27.3
typing_extensions==4.12.2
viam-sdk==0.27.0
